* {
  margin: 0;
  padding: 0;
}

body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;

  max-width: 1440px;
  margin: 0 auto;
}

.app {
  box-sizing: border-box;
  padding: 0 5em;
  display: flex;
  height: 100vh;
}

@media all and (max-width: 1080px) {
  .app {
    padding: 0;
    margin: 0;
  }
  .widgets {
    display: none;
  }
  .feed {
    min-width: fit-content;
    object-fit: contain;
  }
  .sidebar {
    margin: 0 !important;
    padding: 0 !important;
  }

  .sidebar > button {
    display: none;
  }
  .sidebar__twitterIcon {
    margin: 0 !important;
  }

  .sidebarOption > .MuiSvgIcon-root {
    padding: 10px !important;
  }
  .sidebarOption > h2 {
    display: none;
  }
}
